ul {
    list-style-type: none;
    margin: 0;
    padding: 40px;
    color: black;
}

.li-logo {
    padding-left: 10px;
    vertical-align: top;
    font-size: 30px;
    font-weight: lighter;
}
li {
    display: inline;
    padding-left: 30px;
    color: #000000; 
}

.nav-right {
    float: right;
    
}