@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* { font-family: 'Montserrat', sans-serif; }

/* stylelint-disable */
:root {
  --footer-height: 52px;
}
/* stylelint-enable */
a { 
  color: #000000;
  font-size: 12px;
  letter-spacing: 0px;
  text-transform: uppercase;
}
a:hover {
  text-decoration: none;
  color: #1647fb;
  
}
p {
  margin-bottom: 0px;
  align-content: center;
  
}
.main-container {
  min-height: calc(100vh - var(--footer-height));
  border: 0;
}



.footer {
  height: var(--footer-height);
  line-height: 60px;
}

body {
  width: 100%;
  background-color: white;
  margin: 0;
  padding: 0;
}

#top-bar {
  margin: 28px 0 28px 0;
}

.spacing-reset {
  padding: 0;
  margin: 0;
  border: 0;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border: 0;
}

@media (min-width: 1200px) {
  .container {
    width: 990px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}

.enter_section {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 10px;
}

#enter_text {
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  font-size: 10px;
}


/* button for search recommendations */
.button {
  border-radius: 0px;
  border: 0 !important;
  outline: none !important;
  color: #1647fb;
  background-color: white;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 15px !important;
  width: auto !important;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.button-size {
  padding-bottom: 10px;
}

.form-group {
  border: 0;
}