.btn-container {
    float: left;
    
}
@media (max-width: 767px) {
    .btn-container {
        margin-bottom: 10px;
    }
}
h2 {
    background-color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif; 
}

.btn {
    border-radius: 20px!important;
    border: 1px solid black !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: auto !important;
    font-size: 5px;
    font-family: 'Montserrat', sans-serif;
}

Button {
    border-radius: 20px!important;
    border: 1px solid black !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    width: auto !important;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}
