/* CSS for displaying recommendations */
.list-group-item {
    border-radius: 20px !important;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px white !important;
    transition: all 0.2s ease-in-out !important;
    appearance: none;
    -webkit-appearance: none;
    /* margin: auto !important;
    text-align: center;
    width: 100% !important;
    /* padding: 20px !important;  */
    margin-bottom: 20px !important;
    border: 0 !important;
    width: 100%;
    /* border-top: 1px solid black !important; */
}

.list-group {
    padding: 20px;
    margin: auto !important;
    align-items: center !important;
    width: 100% !important;
}