/* alignment for recommendation cards */
.card-body {
    background-color: white;
    border: 0;
    align-items: center;
    position: relative;
    width: 100%;
    margin: auto !important;
    text-align: center;
}

.card {
    background-color: #f1ece2;
    text-align: center;
    text-transform: lowercase;
    border: 0 !important;
    margin: auto !important;
    padding-bottom: 20px;
}

.card-text-center {
    background-color: #f1ece2;
    text-align: center;
    text-transform: lowercase;
    border: 0 !important;
    margin: auto !important;
}

/* title for recommendations */
.title {
    color: black;
    font-family: 'Cormorant Garamond', serif !important;
    font-size: 40px;
    text-transform: none;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -2px;
}