
form {
  display: inline-block;
  padding-top: -200;
  margin-top: 10px;
  align-items: center;
  width: 400px;
  /* padding: 10px !important; */
}

form:focus {
  background-color: blue !important;
  }

Input {
  border: 1px solid black !important;
  outline: 0;
  color: blue;
  cursor: text;
  border: 0 !important;
}



.Input[type=text], textarea {
  background-color: white;
  font-size: 7px;
  outline: none !important;
}

.FormBtn {
  border-radius: 20px!important;
  border: 1px solid black !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
  width: auto !important;
  font-size: 10px;
}

TextArea {
  font-size: 10px;
}

.btn {
  border-radius: 20px!important;
  border: 1px solid black !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
  width: auto !important;
  font-size: 10px;
}

p {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}

p1 {
  color: black;
  font-family: 'Cormorant Garamond', serif !important;
  font-size: 45px;
  text-transform: none;
  font-weight: lighter;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -2px;

}

.form-group {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 8px;
  text-transform: lowercase;
  text-align: center;
}

.form-control {
  color: #000000;
  font-family: 'Cormorant Garamond', serif !important;
  size: 6px !important;
  text-transform: lowercase;
  text-align: center;
}
.form-control[type=text] {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  size: 6px !important;
  text-transform: lowercase;
  text-align: center !important;
}