
form {
  display: inline-block;
  padding-top: -200;
  margin-top: 10px;
  align-items: center;
  width: 300px;
}

Input {
  border: 0 !important;
  width: 300px !important;
  margin: auto !important;
}

.Input[type=text], textarea {
  background-color: white;
  font-size: 9px;
  outline: none !important;
}

TextArea {
  font-size: 10px;
}

.btn {
  color: white;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 0px !important;
  
  &:hover {
    color: blue;
  }
  
  &:active {
    box-shadow: inset 1px 1px 2px #BABECC; inset: -1px -1px 2px white !important;
  }
}

p {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}

p1 {
  color: black;
  font-family: 'Cormorant Garamond', serif !important;
  font-size: 35px;
  text-transform: none;
  font-weight: lighter;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -1px;
}

p2 {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-transform: lowercase;
  text-align: center;
}

.form-group {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}

.form-control {
  font-family: 'Cormorant Garamond', serif !important;
  box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px white !important;
  size: 8px !important;
  text-transform: lowercase;
  color: blue !important;
  text-align: center;
  border: 0 !important;
}

.form-control:focus {
  border-radius: 20px !important;
  box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px white !important;
  transition: all 0.2s ease-in-out !important;
  appearance: none;
  -webkit-appearance: none;
}

.form-control[type=text] {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  size: 9px !important;
  text-transform: lowercase;
  text-align: center !important;
}