$ruler: 12px;
$color-red: #AE1100;
$color-bg: #f1ece2;
$color-shadow: #BABECC;
$color-white: #FFF;

.Container  {
    background-color:$color-bg;
}
.Row  {
    background-color:$color-bg;
}
.Col  {
    background-color:$color-bg;
}
