/* Delete button for saved recommendations */
.delete-btn {
    color: white !important;
    box-shadow: -5px -5px 20px white,  5px 5px 20px #BABECC !important;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}


